<Div Class = "AuthorCard card col s5" DTL:Name = "AuthorCard">
	<Div Class = "card-content">
		<Span Class = "AuthorCard-name card-title activator grey-text">
			${0}
			<I Class = "material-icons right">info</I>
		</Span>

		<P>
			AuthorCard had been loaded as a component!<Br />
			Let's check <A Href = "https://github.com/GenbuHase/DOMTemplateLoader/tree/master/assets/template" Target = "_blank">assets/template</A>...
		</P>
	</Div>

	<Div Class = "card-reveal">
		<Span Class = "AuthorCard-name card-title grey-text">
			${0}
			<I Class = "material-icons right">close</I>
		</Span>
		
		<P Class = "AuthorCard-bio">${1}</P>
	</Div>
</Div>